//* colors
$color-primary: #e76f51;
$color-secondary: #3b3735;
$color-grey: #8d8d8d;

$color-background-1: #faf4f2;
$color-background-2: #f8e1db;
$color-white: #ffffff;

//* size

$container: 120rem;

$border-radius: 2rem;

//* fonts
$archivo: "archivo", sans-serif;
$roboto: "roboto", sans-serif;
