.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: $color-white;
  [class^="col-"] {
    margin-bottom: 3rem;
  }

  .col-1-of-2 {
    width: calc((100% - 3rem) / 2);
    background-color: black;
  }

  .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3);
    background-color: black;
  }
}
